---
// Global navigation menu

import { NAV_LINKS as nav } from "@/lib/config";
import { cn } from "@/lib/utils";
import NavLink from "../elements/nav-link.astro";

const { role } = Astro.props;
---

<nav aria-label={`${role} navigation`} class="m-auto">
  <ul
    class={cn(
      "relative flex items-center gap-6",
      role === "mobile"
        ? "flex-col fl-text-2xl/4xl"
        : "flex-row fl-text-base/lg tracking-tight",
    )}
  >
    {
      nav.map(({ link, title }) => (
        <li id={title} class="text-gray-500 uppercase [font-weight:350]">
          <NavLink link={link} title={title} />
        </li>
      ))
    }
  </ul>
</nav>
