---
// Company introduction section
---

<div
  class="content bg-secondary rounded-lg relative fl-mt-16/24 mx-5 lg:mx-auto max-w-3xl"
>
  <h5
    class="fl-text-xl/2xl sm:fl-text-3xl/5xl text-primary font-bold absolute neg-fl-top-4/6 left-0 md:fl-left-4/8"
  >
    Green Lion Innovations
  </h5>
  <p class="text-base sm:fl-text-lg/2xl fl-px-4/6">
    Green Lion Innovations designs and manufactures advanced products across
    industries, leveraging end-to-end expertise to bring concepts to market
    quickly and at scale. With a focus on cost control, efficiency, and quality,
    we ensure reliable products while seamlessly integrating brand strategy and
    delivering a superior client experience through our trusted partner network.
  </p>
</div>
