---
// Company mission, purpose statement, and expertise section
---

<div class="content flex flex-col xl:flex-row xl:divide-x max-xl:divide-y py-0">
  <div
    id="our-mission"
    class="flex-1 lg:flex-[2] space-y-8 fl-px-4/16 py-8 xl:py-24"
  >
    <h3 class="text-center xl:text-left accent-underline">Our Mission</h3>
    <p class="max-w-prose lg:fl-text-2xl/3xl text-muted-foreground">
      To deliver high-quality, cost-effective product development, sourcing, and
      manufacturing services, seamlessly guiding our clients from concept to
      market.
    </p>
  </div>
  <div id="our-expertise" class="flex-1 space-y-4 fl-px-4/16 py-8 xl:py-24">
    <h5 class="text-center xl:text-left">Our Expertise</h5>
    <ul class="list-disc list-outside text-muted-foreground fl-pl-4/8">
      <li>Innovative product and supply chain solutions</li>
      <li>Cost controls and timeline management</li>
      <li>Quality Control</li>
      <li>Manufacturing efficiencies</li>
      <li>Product reliability</li>
      <li>Integrating brand strategy into product development</li>
    </ul>
  </div>
</div>
