---
import About from "../components/sections/about.astro";
import Hero from "../components/sections/hero.astro";
import Mission from "../components/sections/mission.astro";
import Services from "../components/sections/services.astro";
import Testimonials from "../components/sections/testimonials.astro";
import Layout from "../layouts/default.astro";
---

<Layout title="Home">
  <section
    id="intro"
    class="w-full bg-secondary h-full lg:h-[65vh] 2xl:h-[80vh] pb-16 lg:pb-0"
  >
    <Hero />
  </section>
  <section id="about">
    <About />
  </section>
  <section id="mission" class="fl-px-4/8 md:fl-px-8/24 border-b">
    <Mission />
  </section>
  <section
    id="services"
    class="fl-py-12/24 bg-gradient-to-b from-secondary to-transparent max-w-full"
  >
    <Services />
  </section>
  <section id="testimonials">
    <Testimonials />
  </section>
</Layout>

<style>
  #intro {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }
</style>
