---
import Layout from "@/layouts/default.astro";
import SignInForm from "../components/auth/sign-in";
---

<Layout title="Sign In">
  <div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-sm">
      <SignInForm client:load />
    </div>
  </div>
</Layout>
