---
const { link, title } = Astro.props;

const active = Astro.url.pathname;
---

<a
  id="nav-link"
  href={`/${link}`}
  class:list={[
    "hover:text-primary transition duration-300",
    active.includes(`${link}`) ? "text-primary" : null,
  ]}
  aria-current={active ? "page" : undefined}
>
  {title}
</a>
